*{
    margin: 0;
    padding: 0;
}
#block1 {
    margin-top: 50px;
    margin-bottom: 15px;
    color: rgba(1,1,1,0.7);
}

#block1 h2 {
    font-weight: bold;
    font-size: 1.5em;
    transition: all 500ms;
    padding-left: 20px;
}
    
#block1 h2:hover {
    font-size:40px;
    font-size-adjust: 10px;
    padding-left: 0;
}
.container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(#E5E5E5, #f4b247);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}
.case1 {
    display: inline-block;
    margin-left: 20px;
}
.case2 {
    display: inline-block;
    margin-left: 10px;
}
.case3 {
    display: inline-block;
    margin-left: 10px;
}
h1{
    margin-left: 40%;
    margin-top: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#block1{
    display: inline-block;
    height: 30%;
    width: 20%;
    padding-left: 4ch;
    padding-right: 4ch;
    padding-top: 24.5vh;
    margin-top: 5ch;
    margin-bottom:6vh ;
    box-sizing: border-box;
    border-radius: 10px;
}
.electronics{
    margin-left: 12%;
    margin-right: 2%;
    font-family: Arial, Helvetica, sans-serif;
    color: #14213D;
    background-image: url(img/electronics4.png);
}
.electronics :hover{
    color: #f4b247;
}
.home{
    margin-left: 5%;
    margin-right: 2%;
    font-family: Arial, Helvetica, sans-serif;
    color: #14213D;
    background-image: url(img/home5.png);
    padding-left: 6ch;
    padding-right: 0;;

}
.home h2 {
    font-weight: bold;
    font-size: 1.5em;
    transition: all 500ms;
    padding-left: 60ch;
}
#block1 h2:hover {
    font-size:40px;
    font-size-adjust: 10px;
    padding-left: 0;
}
.home :hover{
    color: #f4b247;
}
.furniture{
    margin-left: 5%;
    margin-right: 2%;
    font-family: Arial, Helvetica, sans-serif;
    color: #14213D;
    background-image: url(img/furniture2.png);
}
.furniture :hover{
    color: #f4b247;
}
#block2{
    display: inline-block;
    height: 30%;
    width: 20%;
    padding-left: 9ch;
    padding-right: 4ch;
    padding-top: 24.5vh;
    margin-top: 0.5ch;
    margin-bottom:1vh ;
    box-sizing: border-box;
    border-radius: 10px;
}
.grocery{
    padding-right: 2ch;
    padding-top: 24vh;
    box-sizing: border-box;
    position: relative;
    object-fit: cover;
    margin-left: 12%;
    margin-right: 2%;
    background-image: url(img/grocery2.png);
    font-family: Arial, Helvetica, sans-serif;
    color: #14213D;
}
.grocery :hover{
    color: #f4b247;
    size: 1.5;
}
.appliances{
    padding-right: 4ch;
    padding-top: 24vh;
    background-image: url(img/appliances4.png);
    box-sizing: border-box;
    position: relative;
    object-fit: cover;
    margin-left: 5%;
    margin-right: 2%;
    font-family: Arial, Helvetica, sans-serif;
    color: #14213D;
}
.appliances :hover{
    color: #f4b247;
}
.fashion{
    margin-left: 5%;
    margin-right: 5%;
    background-image: url(img/fashion5.png);
    box-sizing: border-box;
    position: relative;
    object-fit: cover;
    padding-top: 300px;
    padding-right: 15ch;
    padding-left: 600ch;
    font-family: Arial, Helvetica, sans-serif;
    color: #14213D;
}
.fashion :hover{
    color: #f4b247;
}
/* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #14213D;
    margin-top: 25px;
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    height: 43px;
        }
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 9px 8px 10px;
    text-decoration: none;
    font-size: 19px;
}

  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #E5E5E5;
    color: black;
} 
  /* Style the "active" element to highlight the current page */
.topnav a.active {
    background-color: #000000;
    color: #E5E5E5;
    font-family: cursive;
    padding-top: 5px;
}
  /* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 5px;
    margin-right: 0px;
    margin-left: 400px;
    font-size: 17px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
} 
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    }
    .topnav input[type=text] {
    border: 1px solid #ccc;
    }
    .topnav input[type=text]:hover {
    border: 1px solid rgb(204, 204, 204);
    }
}
#cart{
    float: right;
}
button{
    margin-top: 4px;
    background-color: #14213D;
    margin-left: 0px;
    size: 100px 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: #14213D;
}
.topnav button:hover{
    background-color: #E5E5E5;
}
.topnav a.active:hover{
    background-color: #E5E5E5;
    color: #FCA311;
}